.featured-products{
    margin-top: 5rem;
    .card-grid{
        margin:0 10rem;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(4, 255px);
        grid-template-rows: repeat(2, 325px);
        gap:1.5rem;
    }
    .section-title{
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
        h3{
            margin: 0;
        }
    }
}