@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

    $color-theme:#FF7373;
    $color-theme-dark:#d63535;
    $color-white:#FFFFFF;
    $color-dark:#23262A;
    $color-light-brown:#CAC0BE;
    $color-dark-brown:#75695C;
    $color-gray-0:#F5F5F5;
    $color-gray-1:#ECECEC;
    $color-gray-2:#CDCED0;
    $color-gray-10:#BBBBBB;
    $color-gray-11:#BEBEBE;
    $color-gray-20:#7E7F80;
    $color-gray-21:#707070;
    $color-gray-30:#616365;

    $font-poppins:'Poppins', sans-serif;
    $font-weight-regular: 400;
    $font-weight-medium: 500;
    $font-weight-larger: 600;
    $font-weight-bold: 700;
    $font-size-13: 0.813rem;
    $font-size-16: 1rem;
    $font-size-18: 1.50rem;
    $font-size-24: 2.00rem;
    $font-size-45: 2.8rem;
    $font-size-60: 5.00rem;
    $font-size-65: 5.40rem;

 
    // BREAKPOINTS
    $breakpoint-sm: 576px;
    $breakpoint-sm-max-width: 540px;
    $breakpoint-md: 768px;
    $breakpoint-md-max-width: 720px;
    $breakpoint-lg: 992px;
    $breakpoint-lg-max-width: 960px;
    $breakpoint-xl: 1200px;
    $breakpoint-xl-max-width: 1140px;
    $breakpoint-xxl: 1400px;
    $breakpoint-xxl-max-width: 1320px;